:root {
  --back-main-section-color: rgba(255, 255, 255);
  --main-section-color: black;
  --back-color-primary: #084B4C;
  --back-color-primary-hover: #0b5f61;
  --color-primary: white;
  --back-color-secondary: #74a484;
  --back-color-primary-hover: #86be99;
  --color-secondary: white;
  --back-color-tertiary: #ebcbcb;
  --color-tertiary: black;
  --border-color: black;
}

/* Main element styling */

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer {
  width: 100%;
  background-color: var(--back-color-secondary);
  color: var(--color-secondary);
  padding: 10px 0px;
  font-size: 50%;
  align-self: flex-end;
}

footer a {
  padding: 10px;
}

footer #icons {
  display: inline;
}

footer #images {
  display: inline;
  float: right;
  margin-right: 10px;
}

#mainNav {
  display: flex;
  align-items: center;
}

body {
  font-family: Arial, sans-serif;
  background-color:var(--back-main-section-color);
  color: var(--main-section-color);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.background_image_pickup {
  background-image: url('../garbage_truck_removal.jpg');
  background-size: cover;
}

.header {
  width: 100%;
  background-color: var(--back-color-primary);
  color: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hamburger {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  color: var(--color-primary);
  margin-right: 10px;
}

main {
  min-height: 100vh;
}

.mobile-nav {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 60px;
  right: 0;
  background-color: var(--back-color-primary);
  padding: 10px;
  z-index: 1000;
}

.header-img {
  margin: 5px 10px 5px 20px;
  padding-right: 15px;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
}

.headerButtons {
  flex: 2 1 auto;
  display: flex;
  justify-content: center;
  gap: 5px;
  min-width: 0;
}

.header-img img {
  width: clamp(40px, 5vw, 60px); 
  height: auto;
}

.headerButtons button {
  padding: 5px;
  flex-shrink: 1;
  white-space: nowrap;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  text-align: center;
}

.button {
  padding: 1em 1.25em;
  flex: 1 1 auto;
  font-size: 1.1rem;
  background-color: var(--back-color-primary);
  color: var(--color-primary);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: var(--back-color-primary-hover);
  color: var(--color-primary);
}

/* Dropdown */
.dropdown-container {
  position: relative;
  display: inline-block;
  flex: 1;
  margin-right: 30px;
  max-width: 80px;
  min-width: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--back-main-section-color);
  text-align: center;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 6px;
  margin-bottom: 10px;
  min-width: 180px;
  top: 90%;
  right: -30%;
  z-index: 1000;
}

.hidden {
  display: none;
}

.dropdown {
  padding-bottom: 5px;
  text-decoration: none;
  color: inherit;
}

.dropdown-container .dropdown:hover + .dropdown-content, .dropdown-content:hover {
  display: block;
}

.dropdown-item {
  background-color: var(--back-main-section-color);
  color: var(--main-section-color);
  text-decoration: none;
  display: block;
}

.dropdown-item:hover {
  background-color: #ddd;
}

@media (max-width: 650px) {
  .desktop-nav {
    display: none;
  }

  .hamburger {
    display: block;
    justify-content: flex-end;
  }

  .mobile-nav.open {
    display: flex;
  }

  .headerButtons {
    display: none;
  }

  .dropdown-container {
    margin-left: 50%;
    justify-content: flex-end;
  }
}

/* Sign in/up Pages */

/* Box containing the sign-in form */
#signIn{
  background-color: white;
  padding: 70px;
  width: 60%;
  min-width: 300px;
  max-width: 500px;
  margin: 20px auto;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#signIn div {
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 15px; 
  color: #0b5f61;
}

/* Logo */
#signIn img {
  margin-bottom: 20px;
}

/* Input fields and button */
#signIn input[type="email"],
#signIn input[type="password"],
#signIn input[type="submit"] {
  width: 70%;
  padding: 15px;
  margin-top: 15px;
  margin-bottom: 30px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 16px;
}

#signIn input[type="submit"] {
  background-color: #0b5f61;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#signIn input[type="submit"]:hover {
  background-color: #74a484;
}

#createAccount {
  background-color: white;
  padding: 50px;
  width: 60%;
  min-width: 300px;
  margin: 20px auto;
  max-width: 500px;
  align-self: center;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 500px;
}

#createAccount h1, #signIn h1 {
  text-align: center;
  color: #0b5f61;
  margin-bottom: 30px;
}

/* Input fields for name */
#createAccount .name-group {
  display: flex;
  justify-content: space-between;
}

#createAccount .name-group input[type="text"]{
  width: 30%;
}

#createAccount .form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}


#createAccount .form-group label {
  flex: 1;
}

#createAccount .form-group select {
  flex: 1;
  margin-right: 10px;
}

#createAccount .form-group input[type="date"] {
  flex: 2;
}


#createAccount input[type="text"],
#createAccount input[type="email"],
#createAccount input[type="tel"],
#createAccount input[type="password"],
#createAccount select,
#createAccount input[type="date"] {
  width: 100%;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 16px;
}

#createAccount input[type="submit"] {
  width: 100%;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 10px;
  background-color: #0b5f61;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#createAccount input[type="submit"]:hover {
  background-color: #74a484;
}

#createAccount small {
  font-size: 12px;
  color: #666;
}


/* Overview section */
#mainHeading {
  font-family: Arial, sans-serif;
  font-size: 50px;
  font-weight: 100;
  margin-bottom: 10px;
}

#mainHeading span {
  color: var(--back-color-secondary);
}

.homepageSection {
  display: flex;
  background-color: var(--back-main-section-color);
  color: var(--main-section-color);
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 15px 60px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.homepageSection:nth-child(even) {
  background-color: var(--back-color-primary);
  color: var(--color-primary);
}

.homepageSection p {
  padding-bottom: 5px;
}

.homepageSection h2 {
  font-size: 120%;
}

.homepageSection img {
  align-self: center;
  width: 100%;
  height: auto;
}

#FAQ dl {
  padding: 5px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: 70%;
  align-self: center;
}
#FAQ dd {
  padding-bottom: 20px;
}

#FAQ dt {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px;
  background-color: var(--back-color-secondary);
  border: 1px solid var(--border-color);
}

#FAQ .sign {
  font-size: 120%;
}

/* Get estimate section */

#estimateButton {
  background-color: var(--back-color-secondary);
  color: var(--color-secondary);
  padding: 20px 40px;
  font-size: 18px;
  border: none;
  align-self: center;
  width: fit-content;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 10px;
}

#getEstimate h1 {
  margin-bottom: 5px;
  font-size: 123%;
  font-weight: 600;
}

#getEstimate p {
  font-size: 90%;
  margin-bottom: 10px;
}

#getEstimate input[type='text'] {
  padding: 10px;
  margin-bottom: 5px;
  width: 75%;
  border-radius: 5px;
  border-width: 1px;
}

/* color palette
main - #686bec
green complement - #68eca7
*/

/* Admin Header CSS */

.adminHeaderButtons {
  padding: 5px;
  flex: 1 1 auto;
  min-width: 0;
  justify-content: center;
}

/* Admin Dashboard CSS */

#adminDashboard {
  background-color: var(--back-main-section-color);
  color: var(--main-section-color);
  height: 100%;
  padding-top: 20px;
}

#adminDashboard #userStats img {
  border-radius: 10px;
  margin-right: 5px;
  padding: 10px;
}

#adminDashboard #userPlus {
  background-color: lightskyblue;
}

#adminDashboard #userClock {
  background-color: seagreen;
}

#adminDashboard #userLine {
  background-color:lightgreen;
}

#adminDashboard #userTotal {
  background-color: lightseagreen;
}

#adminDashboard #userStats {
  display: flex;
  flex-direction: row;
  background-color: var(--back-color-secondary);
  color: var(--color-secondary);
  margin: 0px 10px 10px 10px;

  flex-wrap: wrap;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#adminDashboard .statsDiv {
  background-color: var(--back-color-primary);
  color: var(--color-primary);
  padding: 10px;
  min-width: 200px;
  width: 20%;
  margin: 10px;
  align-items: center;
  display: flex;
  flex-direction: row;
}

#adminDashboard .statsColumn {
  width: 100%;
  text-align: center;
}

#adminDashboard .light {
  color: rgba(255, 255, 255, 0.584);
}

#adminDashboard .num {
  font-size: 150%;
}

#adminDashboard #latestStats {
  display: flex;
  background-color: var(--back-main-section-color);
  color: var(--main-section-color);
  flex-direction: row;
  margin: 20px 0px 40px 0px;
  justify-content: space-between;
}

#adminDashboard .latest {
  padding: 0px 10px;
  margin: 10px;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#adminDashboard .latestTable {
  background-color: var(--back-color-primary);
  color: var(--color-primary);
  width: 100%;
  border-collapse: collapse;
}

#adminDashboard h6 {
  color: var(--back-color-primary);
  font-weight: bold;
  font-size: large;
  margin: 20px 10px;
}

#adminDashboard strong {
 font-weight: bold; 
}

#adminDashboard td {
  padding: 10px 5px;
  text-align: center;
  border: none;
}

#adminDashboard tbody tr:nth-child(odd) {
  background-color: var(--back-color-secondary);
  color: var(--color-secondary);
}

#adminDashboard th {
  font-weight: bold;
  padding: 10px;
  text-align: center;
}


/* Profile CSS */

#profile .container, #adminProfile .container {
  max-width: 600px;
  width: 90%;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: var(--back-color-primary);
  color: var(--color-primary);
  text-align: left;
  display: flex;
  flex-direction: column;
}

#profile img, #adminProfile img {
  align-self: center;
  margin-bottom: 10px;
}

#profile h1, #adminProfile h1 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 120%;
}

#profile .profile-info, #adminProfile .profile-info {
  margin-bottom: 10px;
}

#profile p, #adminProfile p {
  margin-bottom: 10px;
}

#profile label, #adminProfile label {
  font-weight: bold;
  font-size: 110%;
}

/* Profile Settings CSS */
  
#profileSettings .navbar {
  background-color: lightgray;
  overflow: hidden;
}
  
/* .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
} */
  
#profileSettings h3 {
  font-size: 120%;
  font-weight: bold;
  padding-bottom: 10px;
}
  
#profileSettings .profile-section {
  background-color: var(--back-main-section-color);
  color: var(--main-section-color);
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px #b3b3b3;
  margin-top: 20px;
  margin-bottom: 20px;
}

#profileSettings input, select {
  padding: 5px;
  margin-left: 5px;
  font-size: 80%;
}

#profileSettings .profile-section:nth-child(even) {
  background-color: var(--back-color-primary);
  color: var(--color-primary);
}

#profileSettings button {
  background-color: var(--back-color-secondary);
  color: var(--color-secondary);
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin-right: 5px;
}

#profileSettings img {
  margin-right: 5px;
}
  
#profileSettings.hidden {
  display: none;
}
  
/* Request Pickup & Request Purchase CSS */
#requestPickup, #requestPurchase {
  width: 80%;
  min-width: 300px;
}
  
#requestPickup.hidden {
  display: none;
}
  
#requestPickup.group, #requestPurchase.group {
  font-family: Arial, sans-serif;
  max-width: 600px;
  margin: 50px auto;
  padding: 40px;
  background-color: var(--back-color-primary);
  color: var(--color-primary);
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
  
#requestPickup .form-group, #requestPurchase .form-group {
  padding: 10px 0px;
  margin-bottom: 10px;
}
  
#requestPickup select, #requestPurchase select {
  margin-bottom: 20px;
}
  
#requestPickup h1, #requestPurchase h1 {
  font-size: 34px;
  color: var(--back-main-section-color);
  margin-bottom: 15px;
}
#requestPickup label, #requestPurchase label {
  font-size: 15px;
  color: var(--color-primary);
  display: block;
  margin-bottom: 8px;
  text-align: left;
}
#requestPickup input[type="text"],#requestPickup input[type="number"], #requestPurchase input[type="text"],#requestPurchase input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}
#requestPickup button, #requestPurchase button {
  background-color: var(--back-color-secondary);
  color: var(--color-secondary);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
}
#requestPickup button:hover, #requestPurchase button:hover {
  background-color: var(--back-color-secondary-hover);
  color: var(--color-secondary);
}

/* Modal overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure modal appears above other content */
}

.modal-content h2 {
  font-weight: bold;
  padding-bottom: 10px;
}

.model-content button {
  background-color: var(--back-color-secondary);
  color: var(--color-secondary);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
}
.model-content button:hover {
  background-color: var(--back-color-secondary-hover);
  color: var(--color-secondary);
}

.modal-content p {
  font-size: 90%;
  padding-bottom: 5px;
}

/* Modal content */
.modal-content {
  font-family: Arial, sans-serif;
  background-color: var(--back-color-primary);
  color: var(--color-primary);
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 8px;
  max-width: 80%;
}
  
/* Dashboard CSS */
  
#dashboard.hidden {
  display: none;
}


/* Admin Settings CSS */

#adminSettings {
  height: 100%;
  padding-top: 20px;
}

/* Input styling */

#adminSettings input[type=submit] {
  background-color: var(--back-color-primary);
  color: var(--color-primary);
  font-size: 75%;
  border-radius: 5px;
  border-width: 0;
  font-size: .75rem;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  padding: 6px 10px 6px 10px;
  float: right;
}

#adminSettings input[type=reset] {
  font-size: 75%;
  border-radius: 5px;
  background-color: var(--back-color-tertiary);
  color: var(--color-tertiary);
  border-width: 0;
  font-size: .75rem;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  padding: 6px 10px 6px 10px;
  float: left;
}

#adminSettings input[type=button] {
  background-color: var(--back-color-primary);
  color: var(--color-primary);
  font-size: 75%;
  border-radius: 20px;
  border-width: 0;
  font-size: .75rem;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  padding: 5px 10px;
}

#adminSettings input[type=button].remove {
  background-color: var(--back-color-primary);
  color: var(--color-primary);
}

#adminSettings input[type=text], input[type=number], input[type=password] {
  padding: 2px 0px;
  margin-bottom: 10px;
}

#adminSettings label {
  padding-bottom: 10px;
}

#addFAQEntry label {
  display: block;
}

#changePasswordForm label {
  font-size: .75rem;
  display: block;
}

/* Cursor styling */

input[type=submit]:hover, input[type=button]:hover, input[type=reset]:hover, input[type=checkbox]:hover, button:hover, select:hover {
  cursor: pointer;
}

/* Button styling */

#mainNav button {
  background-color: var(--back-color-primary);
  color: var(--color-primary);
  font-size: 150%;
  border-radius: 5px;
  font-size: .95em;
  width: 100px;
  height: 50px;
  border-width: 0;
  margin-left: 1px;
  padding: 5px 10px;
}

#adminSettings button {
  background-color: var(--back-color-primary);
  color: var(--color-primary);
  border-radius: 5px;
  border-width: 0;
  font-size: .75rem;
  padding: 10px;
}

#adminSettings button.logout {
  flex: 1;
  text-align: end;
  background-color: var(--back-color-primary);
  color: var(--back-color-tertiary);
}

.saveButtons {
  float: right;
}

#adminSettings aside button {
  width: 100%;
  text-align: left;
}

#adminSettings nav button {
  margin: 10px;
}

#adminSettings button.clicked {
  background-color: var(--back-color-secondary);
  color: var(--color-secondary);
  box-shadow: 1px 0px 2px 1px rgba(202, 202, 202, 0.35);
  border: 0px;
}

button:hover {
  cursor: pointer;
}

/* Main settings set up */

#adminSettings {
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;   
  grid-template-areas: "content content sidebar";
}

#adminSettings form {
  margin-bottom: 50px;
}

#adminSettings nav {
  background-color: var(--back-color-primary);
  color: var(--color-primary);
  margin-bottom: 10px;
}

#adminSettings img {
  height: 45px;
  width: auto;
  margin-left: 10px;
}

#adminSettings article {
  margin-top: 10px;
  grid-column: content;
  margin-left: 15px;
  width: 100%;
}

#adminSettings .devices {
  border: 1px solid var(--border-color);
  background-color:var(--back-color-primary);
  color: var(--color-primary);
  padding: 5px;
  display: flex;
  flex-direction: row;
  margin-right: 10px;
}

#adminSettings aside {
  height: min-content;
  margin: 20px 15px 20px 30px;
  padding: 20px;
  background-color: var(--back-color-primary);
  color: var(--color-primary);
}

#adminSettings p {
  padding-bottom: 5px;
}

#adminSettings #logoPic {
  display: flex;
  flex-direction: row;
  background-color: var(--back-color-secondary);
  color: var(--color-secondary);
  padding: 20px 0px;
  margin-top: 1px;
  margin-bottom: 1px;
  width: 100%;
  font-size: 90%;
}

#mainNav {
  height: 4em;
  background-color: var(--back-color-secondary);
  color: var(--color-secondary);
}

#adminSettings p {
  font-size: .75rem;
}

/* Select styling */

#adminSettings select {
  padding: 2px 0px;
  margin-bottom: 10px;
}

#adminSettings option {
  padding: 5px;
  margin: 10px;
}

/* Table styling */

#adminSettings table {
  text-align: left;
  align-items: center;
}

#adminSettings th {
  border-bottom: 1px solid var(--border-color);
  padding: 5px;
}

#adminSettings td {
  padding: 5px;
  align-self: center;
  border-right: 1px solid var(--border-color);
}

#adminSettings td.last-cell {
  border-right: none;
}

/* List styling */

.List input[type=button] {
  margin-left: 10px;
}

#adminSettings ul, ol {
  padding-left: 10px;
}

.List li {
  padding-bottom: 5px;
}

#adminSettings dt {
  padding-left: 5px;
  margin-bottom: 5px;
}

#adminSettings dd {
  padding-left: 10px;
  margin-bottom: 10px;
}

#adminSettings li {
  list-style: none;
}

.List {
  padding-bottom: 5px;
  border-bottom: 1px solid var(--border-color);
  margin: 10px 10px;
}

/* Header styling */

#adminSettings h3 {
  font-weight: bold;
  font-size: 120%;
  margin: 10px 0px;
}

#adminSettings h1 {
  font-weight: bold;
  font-size: 150%;
  margin: 5px 0px;
  border-bottom: 1px solid var(--border-color);
}

#adminSettings h6 {
  margin-bottom: 10px;
  font-size: 110%;
}

/* Div styling */

#adminSettings .settingsDiv {
  background-color: var(--back-color-secondary);
  color: var(--color-secondary);
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  font-size: 90%;
}

#adminSettings #appNameDiv {
  margin-top: 1px;
  max-width: 100%;
}

#adminSettings div.setting {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-bottom: 5px;
}

#adminSettings .addEntry {
  display: flex;
  flex-direction: column;
}

/* Hide elements */

#adminSettings.hidden, #adminSettings .hidden, #adminSettings #priceSettingForm .hidden, #workflow.hidden, #wallet.hidden {
  display: none;
}

/* Workflow CSS */

.group_header header{
  background-color: var(--back-color-primary);
  color: var(--color-primary);
  text-align: center;
  padding: 10px;
  font-size: 120%;
}

#workflow {
  margin-top: 10px;
  background-color: var(--back-main-section-color);
  color: var(--main-section-color);
  height: 100%;
  padding-top: 20px;
}

#workflow main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#workflow .order {
  display: flex;
  background-color: var(--back-main-section-color);
  color: var(--main-section-color);
  border-bottom: 1px solid #ccc;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 15px;
}

#workflow .order-details {
  flex: 1;
}

#workflow .workflow {
  display: flex;
}

#workflow .workflow-dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid var(--border-color);
}

#workflow .completed {
  background-color: var(--back-color-secondary);
}

#workflow table.workflow td,tr {
  border: none;
  margin: 5px;
  overflow-x: hidden;
  width: 75px;
}

#workflow .workflow div {
  margin-top: 5px;
  margin-bottom: 5px
}


/* Wallet CSS */

#wallet {
  height: 100%;
  padding-top: 20px;
}

#walletDiv {
  margin: 10px 0px;
  padding-bottom: .1px;
  background-color: var(--back-color-primary);
  color: var(--color-primary);
}

#wallet .wallet {
  margin: 0px 15px 15px 15px;
}

#wallet .wallet-details {
  background-color: var(--back-main-section-color);
  color: var(--main-section-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#wallet .wallet-details h6 {
  display: inline-block;
  width: 100%;
  padding: 10px;
  font-size: 120%;
  padding-top: 15px;
} 

#wallet .wallet-details span {
  display: inline-block;
  padding: 10px;
}

#wallet #wallet-balance {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--back-color-secondary);
  color: var(--color-secondary);
  margin: 15px;
}

#wallet #wallet-balance h1 {
  font-size: 110%;
  padding: 10px;
  flex: .5;
}

#wallet #wallet-balance h6 {
  padding: 10px;
  font-size: 120%;
  flex: .05;
  background-color: var(--back-main-section-color);
  color: var(--main-section-color);
  color: black;
  text-align: center;
  border: 1px solid var(--border-color);
}

#wallet .up {
  display: block;
  background-color: var(--back-main-section-color);
  color: var(--main-section-color);
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
}

#wallet .up ul {
  width: 100%;
  background-color: var(--back-main-section-color);
  color: var(--main-section-color);
  border-top: 1px solid var(--border-color);
}

#wallet .up li {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding: 10px;
  background-color: var(--back-color-secondary);
  color: var(--color-secondary);
  align-content: center;
}

#wallet .down {
  display: none;
}

#wallet #toggle-pending:hover {
  cursor: pointer;
}

#wallet #toggle-paid:hover {
  cursor: pointer;
}

#wallet #toggle-history:hover {
  cursor: pointer;
}